In [13]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("Environment_data.csv")

df.to_csv("cleaned_environment.csv")

In [3]:
df=df.rename(columns={'ts':'timestamp',"device":"device_id","co":"carbon_monoxide","lpg":"liquefied_petroleum_gas", "temp":"temperature"})

In [4]:
df

,timestamp,device_id,carbon_monoxide,humidity,light,liquefied_petroleum_gas,motion,smoke,temperature
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
405179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isna().sum()

timestamp                  305649
device_id                  305649
carbon_monoxide            305649
humidity                   305649
light                      305649
liquefied_petroleum_gas    305649
motion                     305649
smoke                      305649
temperature                305649
dtype: int64

In [6]:
df

,timestamp,device_id,carbon_monoxide,humidity,light,liquefied_petroleum_gas,motion,smoke,temperature
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
405179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df

,timestamp,device_id,carbon_monoxide,humidity,light,liquefied_petroleum_gas,motion,smoke,temperature
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
99530,1.590000e+09,1c:bf:ce:15:ec:4d,0.004081,58.400002,True,0.006648,False,0.017568,26.000000
99531,1.590000e+09,b8:27:eb:bf:9d:51,0.005211,49.100000,False,0.007934,False,0.021219,22.200000
99532,1.590000e+09,1c:bf:ce:15:ec:4d,0.004060,58.400002,True,0.006623,False,0.017497,26.000000
99533,1.590000e+09,b8:27:eb:bf:9d:51,0.005235,49.000000,False,0.007960,False,0.021292,22.200000
99535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df=df.dropna()

In [10]:
df['timestamp']=pd.to_datetime(df['timestamp'])
df['light']=df['light'].astype(bool)
df['motion']=df['motion'].astype(bool)

In [11]:
df

,timestamp,device_id,carbon_monoxide,humidity,light,liquefied_petroleum_gas,motion,smoke,temperature
0,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1970-01-01 00:00:01.590,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1970-01-01 00:00:01.590,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
99528,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.005225,49.100000,False,0.007949,False,0.021263,22.200000
99530,1970-01-01 00:00:01.590,1c:bf:ce:15:ec:4d,0.004081,58.400002,True,0.006648,False,0.017568,26.000000
99531,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.005211,49.100000,False,0.007934,False,0.021219,22.200000
99532,1970-01-01 00:00:01.590,1c:bf:ce:15:ec:4d,0.004060,58.400002,True,0.006623,False,0.017497,26.000000
99533,1970-01-01 00:00:01.590,b8:27:eb:bf:9d:51,0.005235,49.000000,False,0.007960,False,0.021292,22.200000

In [12]:
df.to_csv("cleaned_environment.csv")